
@keyframes minhaAnimacao {
    from {
        left: 10px;
    }
    to {
        left: 200px;
        background: blue;
        border-radius: 100px;
    }
}

@keyframes desafio {
    0%   {
        transform: rotate(0deg);
        background-color: red;
    }
    25%  {
        transform: rotate(90deg);
        background-color: blue;
    }
    50%  {
        transform: rotate(180deg);
        background-color: yellow;
    }
    75%  {
        transform: rotate(270deg);
        background-color: green;
    }
    100% {
        transform: rotate(360deg);
        background-color: red;
    }
}

.box {
    position: relative;
    left: 10px;
    top: 10px;
    width: 200px;
    height: 200px;
    margin: 0 50px;
    background: red;
    /*
    animation-name: minhaAnimacao;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: 4;
    animation-direction: alternate;
    */
    animation: minhaAnimacao 5s 3s 4 alternate;
}

.box:hover {
    border: solid 5px black;
    transition: border 3s 2s;
}

.box2 {
    position: relative;
    left: 10px;
    top: 10px;
    width: 200px;
    height: 200px;
    margin: 30px 50px;
    background: red;
    animation: desafio 5s 1s infinite;
}