
.conteudo {
    background: #dcdcdc;
    border: 2px solid blue;
}

.linha {
    background: #ffebcd;
    border: 2px solid black;
}

.coluna {
    background: #87ceeb;
    border: 2px solid black;
}