body { 
	padding: 15px; 
	background:#eee; 
	font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 60%;
}

.menu li {
    padding-right: 10px;
}

.menu ul li {
    display: inline;
}

/* min-width */
@media screen and (max-width: 600px) {

    body {
        padding: 15px; 
        background:#eee; 
        font-family: Arial, Helvetica, sans-serif;
    }

	.menu {
        display: inline-block;
    }
    
}