
body {
    background: #61BD8C;
}

#conteudo {
    background: #FFFFFF;
    padding: 10px;
    width: 900px;
    margin: 130px auto;
}

.caixa {
    background: red;
    margin: 10px;
    width: 100px;
    height: 100px;
    color: #FFFFFF;
}

#relativo {
    position: relative;
    left: 30px;
}

#absoluto {
    position: absolute;
    left: 30px;
}

#fixo {
    position: fixed;
    left: 200px;
    top: 0px;
}